body {
  margin: 0px;
  text-align: center;
}

nav {
  height: 40px;
  background-color: #dbdbdb;
  padding: 15px;
}
.topleft {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 67px;
  width: 120px;
  background: url('../img/tsLogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.topright {
  position: absolute;
  top: 3px;
  right: 16px;
  height: 65px;
  width: 175px;
}
#lastN {
  margin: 0;
  padding: 20px;
  text-align: center;
  -webkit-text-stroke: 1.2px ghostwhite;
}
#lNight {
  grid-column: 1;
  margin: 10px;
  padding: 10px;
  color: silver;
  font-family: Stencil Std;
  font-size: 50px;
}
#standings {
  grid-column: 1/3;
  height: 50px;
  color: silver;
  font-family: Stencil Std;
  font-size: 50px;
}
#gameC {
  grid-column: 1;
  grid-row: 1/1;
}
#standingC {
  grid-column: 2;
  grid-row: 1/3;
}
#standingC {
  color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100%;
}
#easternC{
  padding-bottom: 10px;
  border-color: rgba(0, 33, 86, 0.85);
  border-style:solid;
  border-width: 20px 20px 15px;
  border-radius: 5px 5px 0px 0px;
}
#westernC {
  padding-bottom: 10px;
  border-color: rgba(0, 33, 86, 0.85);
  border-style:solid;
  border-width: 15px 20px 20px;
  border-radius: 0px 0px 5px 5px;
}
.container {
  padding: 2%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  grid-gap: 20px;
  background: url('../img/nhl-logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: black;
}
#gameC {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.game {
  background-color: rgba(128, 128, 128, 0.9);
  color: #fff;
  border-radius: 5px;
  border: 4px solid silver;
  padding: 20px;
  font-size: 150%;
}
#easternC{
  font-size: 130%;
  display: grid;
  grid-template-rows: 10% auto;
}
#eastC {
  grid-column: 1/3;
  grid-row: 1;
}
#olEast {
  grid-column: 1/2;
  grid-row: 2;
  margin: 0;
}
#eastPts {
  grid-column: 2/3;
  grid-row: 2;
  text-align: right;
  padding-right: 5px;
}
#westernC {
  font-size: 130%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% auto;
}
#westC {
  grid-column: 1/3;
  grid-row: 1;
}
#olWest {
  grid-column: 1/2;
  grid-row: 2;
  margin: 0;
}
#westPts {
  grid-column: 2/3;
  grid-row: 2;
  text-align: right;
  padding-right: 5px;
}
h3 {
  margin: 10px;
  font-size: 100%;
  font-weight: normal;
}
li {
  margin: 10px;
  font-size: 100%;
}
p {
  margin: 5px;
}
.conference {
  background-color: rgba(0, 70, 183, 0.9);
}
h2 {
  font-size: 1.3em;
}
ol {
  text-align: left;
}
label {
  font-weight: bold;
}
.row {
  margin: 10px;
  display: inline;
  font-size: 40px;
  color: #0046b7;
  font-family: Stencil Std;
}
.col {
  display: inline;
  margin: 7px;

}
select#changeTeam {
  text-align-last: center;
  height: calc(2.25rem + 2px);
  width: auto;
  font-size: medium;
  vertical-align: top;
  border-width: 2px;
}
#teamSrc {
  color: white;
  font-weight: 600;
  font-size: large;
  height: calc(2.25rem + 2px);
  background-color: #0046b7;
  border-radius: 5px;
  border-color: silver;
  vertical-align: top;
}
#logo-label {
  position: absolute;
  display: block;
  top: 17px;
  line-height: 23px;
  margin: 0;
  left: 93px;
  font-family: Stencil Std;
}
.logo-label {
  margin: 0;
}
#logoStats {
  color: #f20000;
}
#lastN {
  grid-row: 1;
  grid-column: 1 / 5;
}
#stand {
  -webkit-text-stroke: 1.2px ghostwhite;
  padding: 20px;
  margin: 0px 0px 30px;
}

@media screen and (max-device-width: 1350px){
  #gameC {
    grid-template-columns: repeat(3, 1fr);
  }
  #lastN {
    grid-column: 1 / 4
  }
  #olEast {
    padding-left: 25px;
  }
  #olWest {
    padding-left: 25px;
  }
  #lNight {
    font-size: 130%;
  }
  #standings {
    font-size: 130%;
  }
}
@media screen and (max-device-width: 1100px){
  nav {
    padding: 10px 15px 15px;
  }
  .container {
    grid-template-columns: auto;
  }
  #gameC {
    grid-template-columns: repeat(2, 1fr);
  }
  .topright{
    display: none;
  }
  #teamChange {
    display: inline-flex;
    flex-flow: row-reverse;
    width: 100%;
  }
  #row1 {
    order: 2;
  }
  #row2 {
    order: 1;
  }
  .row {
    margin: 0px 10px;
  }
  .topleft {
    height: 62px;
  }
}
@media screen and (max-device-width: 930px){
  #logo-label {
    display: none
  }
  #olEast {
    display: grid;
  }
  #eastPts {
    display: grid;
  }
  #olWest {
    display: grid;
  }
  #westPts {
    display: grid;
  }
}
@media screen and (max-device-width: 900px){
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-size: auto;
  }
  #gameC {
    grid-column: 1;
    grid-row: 1;
  }
  #standingC {
    grid-column: 1;
    grid-row: 2;
  }
  #gameC {
    grid-template-columns: repeat(3, 1fr);
  }
  #standingC{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  #stand {
    grid-row: 1;
    grid-column: 1 / 3;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #easternC {
    border-radius: 5px 0px 0px 5px;
    grid-row: 2;
    grid-column: 1 / 2;
  }
  #westernC {
    border-radius: 0px 5px 5px 0px;
    grid-row: 2;
    grid-column: 2 / 3;
  }
  #lNight {
    font-size: 200%;
  }
  #standings {
    font-size: 250%;
  }
}
@media screen and (max-device-width: 860px){
  #gameC {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  #lastN {
    grid-column: 1 / 3
  }
  #lNight {
    font-size: 150%;
  }
  .row {
    margin: 0px;
  }
  #row1 {
    font-size: x-large;
    padding: 1%;
  }
}
@media screen and (max-device-width: 770px) {
  select#changeTeam {
    width: 135px;
  }
  #teamSrc {
    font-size: medium;
  }
  #row1 {
    padding: 0px;
    width: 115px;
    margin-right: 10px;
  }
}
@media screen and (max-device-width: 550px) {
  #standings {
    font-size: 150%;
  }
}
@media screen and (max-device-width: 500px){
  #standingC {
    grid-template-columns: 98%;
    grid-template-rows: 5% auto;
  }
  #row1 {
    display: none;
  }
  #standings {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #easternC {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-width: 20px 20px 15px;
    border-radius: 5px 5px 0px 0px;
  }
  #westernC {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-width: 15px 20px 20px;
    border-radius: 0px 0px 5px 5px;
  }
  #lNight {
    margin: 0px;
    padding: 0px;
  }
}
